<h4><%= @author.first_name %> <%= @author.last_name %></h4>

<%= @author.bio %>
<br>
<%= link_to "Edit Author", edit_author_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
<%= link_to "Return to Authors", authors_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
