<h4><%= @book.title %></h4>

<li><%= @book.title %></li>
<li><%= link_to @book.author.first_name, author_path(id: @book.author.id) %></li>
<li><%= @book.price %></li>
<li><%= @book.photo_url %></li>
<br>
<%= link_to "Edit Book", edit_book_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
<%= link_to "Return to Books", books_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
