<h4><%= @book.title %></h4>

<h5>Author: <%= link_to "#{@book.author.first_name} #{@book.author.last_name}",
              author_path(id: @book.author.id) %><br></h5>
Price: $<%= @book.price %>0<br>
Photo URL: <%= @book.photo_url %>
<p>
<br>
<%= link_to "Edit Book", edit_book_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
<%= link_to "Return to Books", books_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
