<!DOCTYPE html>
<html>
<head>
  <title>Ironlibrary</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Books", books_path %> | <%= link_to "Authors", authors_path %>
<%= yield %>

</body>
</html>
