<!DOCTYPE html>
<html>
<head>
  <title>Iron Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<header>
  <nav class="z-depth-0 transparent">
    <div class="nav-wrapper">
      <%= link_to "Iron Library", root_path, :class => "light-blue-text text-darken-2 brand-logo" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if @current_user %>
          <li><%= link_to "Books", books_path, :class => "light-blue-text text-darken-2" %></li>
          <li><%= link_to "Authors", authors_path,
            :class => "light-blue-text text-darken-2" %></li>
          <li><%= link_to "Logout", logout_path, :class => "light-blue-text text-darken-2" %></li>
        <% else %>
          <li><%= link_to "Login", login_path, :class => "light-blue-text text-darken-2" %></li>
          <li><%= link_to "Register", signup_path, :class => "light-blue-text text-darken-2" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<main>
  <div class="container grey-text text-darken-2">
    <%= yield %>
  </div>
</main>
    <footer class="page-footer transparent">
      <div class="container">
        <div class="row valign-wrapper">
          <div class="col s12 grey-text center-align">
            <%= link_to "Iron Library", "http://ironlibrary.skylarcking.com",
            :class => "light-blue-text text-darken-2" %><br>
            © <%= Time.now.year %> <%= link_to "Skylar King", "http://www.skylarcking.com",
            :class => "light-blue-text text-darken-2" %><br>
            <%= link_to "View on Github", "https://github.com/skylarking/Iron-Library",
            :class => "light-blue-text text-darken-2" %><br>
            <%= link_to "Report an Issue", "https://github.com/skylarking/Iron-Library/issues/new",
            :class => "light-blue-text text-darken-2" %><br>
            <%= link_to "License", license_path, :class => "light-blue-text text-darken-2" %>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
